@using PrivateBudget.Client.Models;
@using System.Drawing;
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    public static UserData UserData { get; set; } = new UserData();



    protected override void OnInitialized()
    {
        //UserData.Plan = new Plan()
        //{
        //    Name = "Test Plan",
        //    Categories =
        //    {
        //        new Category()
        //        {
        //            Name = "Einkommen",
        //            Color = "#2b40a8"
        //        },
        //        new Category()
        //        {
        //            Name = "Wohnen",
        //            Color = "#27ea2e",
        //            MonthlyBudget = 765.00m
        //        }
        //    }
        //};

        //UserData.Plan.Entries = new List<Entry>
        //{
        //    new Entry()
        //    {
        //        Name = "Gehalt",
        //        Value = 1825,
        //        StartDate = new DateOnly(2023, 2, 28),
        //        Interval = Microsoft.VisualBasic.DateInterval.Month,
        //        Category = UserData.Plan.Categories[0],
        //        Description = ""
        //    },
        //    new Entry()
        //    {
        //        Name = "Miete",
        //        Value = -765,
        //        StartDate = new DateOnly(2023, 2, 15),
        //        Interval = Microsoft.VisualBasic.DateInterval.Month,
        //        Category = UserData.Plan.Categories[1],
        //        Description = "Kaltmiete + Nebenkostenpauschale"
        //    }
        //};
    }
}